<h1> I'm Still alive! </h1>
<div class ="profile">
  <h1> Jordan Davis </h1>
  <h2> I am a technical Project Manager and Student who loves to learn new things like this!<h2>
  <!-- The rest of my code goes here?-->
</div>
  
    <img src="me.jpg">
 
<p>I enjoy learning to code because it takes the mistery of the applications and gets you one step closer to pure creativity!</p>
  
<a href="http://violet-wave-62-227635.usw1-2.nitrousbox.com:4000/read_more"> More about me!</a>