<h1> I'm Still alive! </h1>
<h1> Jordan Davis </h1>
<!--image-->
<img src="https://www.lds.org/bc/content/church/temples/curitiba-brazil/images/curitiba-brazil-450x480-AV080605_cah006.jpg">

<!--h2 what I do-->
<h2> I am a technical Project Manager and Student who loves to learn new things like this!<h2>
  
<!--p tag with why i want to learn to code-->
<p>I enjoy learning to code because it takes the mistery of the applications and gets you one step closer to pure creativity!<p/>
  
<!--read_more link using "a" tag-->
<a href="http://violet-wave-62-227635.usw1-2.nitrousbox.com:4000/read_more">
