<div class ="profile h1">
<h1> I'm Still alive! </h1>
</div>

<div class ="profile">
  <h1> Jordan Davis </h1>
  <h2> I am a technical Project Manager and Student who loves to learn new things like this!<h2>
</div>

<div class ="profile img">
    <img src="me.jpg" sytle="margin-left: 10px">
</div>
    
<p>I enjoy learning to code because it takes the mistery of the applications and gets you one step closer to pure creativity!</p>
  
<a href="http://violet-wave-62-227635.usw1-2.nitrousbox.com:4000/read_more"> More about me!</a>